
<div class="buttons">
<a href="/logout"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
<a href="/dashboard"><button type="button" class="btn btn-primary btn-lg">Dashboard</button></a>
</div>

<div class="header">
    <h1>@Model.wedderOne & @Model.wedderTwo</h1>
</div>

<div class="date">
<h2>Date: @Model.weddingDate.ToString("MM/dd/yyyy")</h2>
</div>

<div class="table">
        <table class="table"> List of Guests:
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  @{ foreach (var rsvp in Model.Rsvp){
                  <tr>
                    <!-- <th scope="row"></th> -->
                    <td>@rsvp.user.FirstName @rsvp.user.LastName</td>
                    <td>@rsvp.user.Email</td>
                  </tr>
                }
              }
                </tbody>
              </table>
</div>